@using BaseWebApplication.Configurations
@using Newtonsoft.Json
@model IEnumerable<BaseWebApplication.Models.AppUserConfigVM>

@{
    ViewData["Title"] = "Index";
}

<h1 class="page-title">Lista de usuarios</h1>


<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="modelId" name="id" />
</form>

<div id="index-grid"></div>

@section Scripts {
    <script>

        var dataSource = @Html.Raw(JsonConvert.SerializeObject(Model));
        // var pageSize = @Constants.GRID_PAGE_SIZE;
        // var allowedPageSizes = @Html.Raw(JsonConvert.SerializeObject(Constants.GRID_ALLOWED_PAGE_SIZES));
        // var createUrl = '@Url.Action("Create")';
        var createUrl = '@Url.Page("/Account/Register", null, new { area = "Identity" })';
        var editUrlTemplate = '@Url.Action("Edit", new { id = "ID_REPLACE" })';
        var detailsUrlTemplate = '@Url.Action("Details", new { id = "ID_REPLACE" })';

        var gridOptions = {
            selector: "#index-grid",
            dataSource: dataSource,
            columns: [
                { dataField: "AppUser.@nameof(AppUserConfigVM.AppUser.UserName)", caption: "@Html.DisplayNameFor(model => model.First().AppUser.UserName)", sortIndex: 0, sortOrder: "asc" },
                { dataField: "@nameof(AppUserConfigVM.Names)", caption: "@Html.DisplayNameFor(model => model.First().Names)" },
                { dataField: "@nameof(AppUserConfigVM.Surnames)", caption: "@Html.DisplayNameFor(model => model.First().Surnames)" },
                { dataField: "AppUser.@nameof(AppUserConfigVM.AppUser.EmailConfirmed)", caption: "@Html.DisplayNameFor(model => model.First().AppUser.EmailConfirmed)" },
                { dataField: "@nameof(AppUserConfigVM.CreateDate)", caption: "@Html.DisplayNameFor(model => model.First().CreateDate),", dataType: "@Constants.GRID_DATE_TYPE", format: "@Constants.GRID_DATE_FMT", },

            ],
            editUrlTemplate: editUrlTemplate,
            createUrl: createUrl,
            detailsUrlTemplate: detailsUrlTemplate,
            // pageSize: pageSize,
            // allowedPageSizes: allowedPageSizes,
            // customizeCell: function (options) {
            //     var gridCell = options.gridCell;
            //     var excelCell = options.excelCell;
            //     if (gridCell.rowType === "data") {
            //         if (gridCell.column.dataField === "UserName") {
            //             excelCell.font = { bold: true };
            //         }
            //     }
            // },
            // actionsButtons: [
            //     {
            //         hint: "Ver",
            //         icon: "trash",
            //         onClick: function (e) {
            //             var viewUrl = options.viewUrlTemplate.replace("ID_REPLACE", e.row.data.EncryptedID);
            //             window.location.href = viewUrl;
            //         },
            //     },
            // ],
            viewUrlTemplate: '@Url.Action("View", new { id = "ID_REPLACE" })',
            createButtonHint: "Crear un nuevo registro"
        };

        initializeGrid(gridOptions);

    </script>
}